@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #448;
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 2.8rem;
  font-weight: bold;
}

h2 {
  font-size: 1.4rem;
}

.boards {
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  height: 1000px;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.boards > div {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  min-width: 240px;
  max-width: 360px;
}

.container {
  background: #aaa;
  box-shadow: 0 0 5px #111;
  height: 100vh;
  margin: auto;
  max-width: 900px;
  position: relative;
  width: 100%;
}

.content {
  align-items: center;
  background: #aaa;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  padding: 8px;
}

.footer {
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
}

.footer a {
  color: #804;
  font-weight: bold;
  text-decoration: none;
}

.gameboard {
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  width: 100%;
}

.game-over {
  aspect-ratio: 1 / 1;
  background: #eef;
  box-shadow: 4px 4px 4px #111;
  display: none;
  max-width: 300px;
  text-align: center;
  width: 90%;
}

.game-over p {
  font-size: 2rem;
}

.game-over span {
  font-weight: bold;
}

.grayout {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.grayout.visible,
.game-over.visible {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}

.grid-cell {
  border: 1px solid #111;
  background: #eee;
}


.grid-cell.hit {
  background: red;
}

.grid-cell.miss {
  background: blue;
}

.grid-cell.placing {
  background: #ff5;
}

.setup {
  background: #aaa;
  display: none;
  height: 100%;
  padding: 8px;
  width: 100%;
}

.setup.visible {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.setup.visible p {
  font-size: 2rem;
}

.setup.visible button,
.game-over.visible button {
  background: #79f;
  border: 1px solid #111;;
  box-shadow: 2px 2px #444;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1.2rem;
  padding: 8px;
}

.setup.visible button:active,
.game-over.visible button:active {
  box-shadow: none;
  scale: 0.98;
}

.ship {
  background: #5f5;
}

#computer-board .grid-cell:hover {
  border: 4px solid #111;
  cursor: pointer;
}

#setup-board {
  max-width: 400px;
}

#setup-board .grid-cell {
  cursor: pointer;
}
