* {
  box-sizing: border-box;
}

body {
  background: #888;
}

.gameboard {
  border: 1px solid black;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  height: 400px;
  width: 400px;
}

.grid-cell {
  border: 1px solid #111;
  background: #eee;
}


.grid-cell.hit {
  background: red;
}

.grid-cell.miss {
  background: blue;
}

.ship {
  background: #5f5;
}

#computer-board .grid-cell:hover {
  border: 4px solid #111;
  cursor: pointer;
}
